<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title %></title>
    <% if current_page.data.description != nil %>
      <meta name="description" content="<%= current_page.data.description%>" />
    <% else %>
      <meta name="description" content="Simple PGP for engineering teams. Safeguard your source code and protect team secrets and customer data." />
    <% end %>
    <link rel="alternate" type="application/atom+xml" title="Fluidkeys Blog" href="/blog/feed.xml" />
    <%= yield_content :head %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:500,600|Inconsolata" rel="stylesheet">
    <%= stylesheet_link_tag 'stylesheets/landing-page' %>
  </head>
  <body id="<%= yield_content :body_id %>">
    <div class="preview-announcement">
      <p class="preview-announcement--content">
        This is a preview of our upcoming release. We&nbsp;❤️&nbsp;feedback:&nbsp;<a href="mailto:hello@fluidkeys.com">hello@fluidkeys.com</a>
      </p>
    </div>
    <header class="header container--fill">
      <div class="row">
        <h1 class="header__title col-xs-12 col-sm-2"><%= link_to "Fluidkeys", "/fluidkeys-v1-preview", class: "header__link" %></h1>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
    </footer>
    <%= partial "analytics" %>
  </body>
</html>
