<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title %></title>
    <% if current_page.data.description != nil %>
      <meta name="description" content="<%= current_page.data.description%>" property="og:description"/>
    <% else %>
      <meta name="description" content="Simple PGP for engineering teams. Safeguard your source code and protect team secrets and customer data." />
    <% end %>
    <link rel="alternate" type="application/atom+xml" title="Fluidkeys Blog" href="/blog/feed.xml" />

    <meta property="og:title" content="<%= current_page.data.title %>">
    <meta property="og:site_name" content="Fluidkeys" />
    <meta property="og:locale" content="en_GB" />

    <% if current_page.data.open_graph_type != nil %>
    <meta property="og:type" content="<%= current_page.data.open_graph_type %>">
    <% end %>

    <% if current_page.data.open_graph_image != nil %>
    <meta property="og:image" content="https://www.fluidkeys.com/<%= current_page.data.open_graph_image %>" />
    <meta name="twitter:card" content="summary_large_image">
    <% else %>
    <meta name="twitter:card" content="summary">
    <% end %>

    <!-- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards -->
    <meta name="twitter:site" content="@fluidkeys">

    <%= yield_content :head %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900|Montserrat:500,600|Inconsolata" rel="stylesheet">
    <%= stylesheet_link_tag 'stylesheets/landing-page' %>
  </head>
  <body id="<%= yield_content :body_id %>">
    <header class="header container--fill">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h1 class="header__title col-xs-12 col-sm-2"><%= link_to "Fluidkeys", "/", class: "header__link" %></h1>
        </div>
        <div class="col-xs-12 col-md-8">
          <nav>
            <ul class="nav">
              <li class="nav__item"><%= link_to "Blog", "/blog", class: "nav__link"%></li>
              <li class="nav__item"><%= link_to "Weeknotes", "/weeknotes", class: "nav__link"%></li>
              <li class="nav__item"><%= link_to "About", "/about", class: "nav__link"%></li>
              <li class="nav__item"><%= link_to "Download", "https://download.fluidkeys.com", class: "nav__link"%></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="container--max-width-break-2">
        <p>
          <%= mail_to 'hello@fluidkeys.com', 'hello@fluidkeys.com', class: "footer__link" %>
          <a href="/blog/feed.xml" class="footer__link"><%= image_tag("rss-icon.svg", class: "footer__rss-icon") + "RSS feed" %></a>
        </p>
      </div>
    </footer>
    <%= partial "analytics" %>
  </body>
</html>
