<section class="markdown">
  <div class="container">
    <div class="content">
      <h1>About us</h1>
      <p>
        <%= link_to "Paul", "https://www.paulfurley.com/" %> and
        <%= link_to "Ian", "https://twitter.com/idrysdale" %> keep themselves
        busy fighting internet surveillance and censorship.</p>

      <p>
        They run a <%= link_to "Tor node", "https://metrics.torproject.org/rs.html#details/165FEA8476A02296DD8C6281CD02AC80319F8ACA" %> and
        maintain <%= link_to "a bot that reminds you if your PGP key is about to expire", "https://www.paulfurley.com/expirybot-emails-pgp-users-before-their-key-expires/" %>.</p>

      <p>
        Previously they’ve run <%= link_to "cryptoparties", "https://digitalblog.coop.co.uk/2017/04/26/cryptoparty-a-fun-way-to-learn-about-security/" %>
        at the UK’s largest consumer Co-op and helped setup
        <%= link_to "a gym that puts people’s physical energy to use in their local communities", "https://www.goodgym.org/" %>.</p>
    </div>
  </div>
</section>

<section class="final-cta">
  <div class="container">
    <div class="content">
      <p>We’re building a better way to do PGP sign up to hear more.</p>
      <%= partial "signup_form", locals: { form_id: "footer-sign-up" } %>
    </div>
  </div>
</section>
