---
layout: landing-page
---

<% content_for :head do %>
<meta name="robots" content="noindex">
<% end %>

<header class="landing-hero">
    <div class="container--max-width-break-3">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1 class="landing-hero__title">Simple PGP for engineering teams</h1>

                <p class="landing-hero__description">
                    Fluidkeys automates configuration and key exchange for your team.
                </p>

                <p class="landing-hero__description">
                    It's simple to share sensitive data, safeguard your
                    source code and use popular PGP tools.
                </p>
                <%= partial "trial_signup_form" %>
            </div>
            <div class="col-xs-12 col-md-6">
                <%= image_tag 'hero-image.svg', class: 'landing-hero__illustration' %>
            </div>
        </div>
    </div>
</header>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h2 class="section__title">A secure way to work together</h2>
            <p class="section__description">
                Fluidkeys helps engineering teams adopt stronger software development practices.
            </p>
        </div>
    </div>
    <div class="feature row middle-md">
        <div class="col-xs-12 col-md-6">
            <%= image_tag 'landing/sensitive-data.png', class: 'feature__illustration' %>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="feature__card">
                <h3 class="feature__title">Send secrets from the terminal</h3>
                <p class="feature__description">
                Send passwords, keys, tokens and personal information within your team. Everything's protected with open source, end-to-end encryption.
                </p>
            </div>
        </div>
    </div>
    <div class="feature row middle-md">
        <div class="col-xs-12 col-md-6">
            <%= image_tag 'landing/protect-source-code.png', class: 'feature__illustration' %>
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="/features/sign-and-verify-code" class="feature__card">
                <h3 class="feature__title">Safeguard your source code</h3>
                <p class="feature__description">
                Sign your git commits and only merge verified code from trusted developers.
                </p>
                <p class="feature__description">
                Fluidkeys configures git and keeps your Github account in sync.
                    <span class="feature__fake-link">Find out more about signing and verifying code</span>.
                </p>
            </a>
        </div>
    </div>
    <div class="feature row middle-md">
        <div class="col-xs-12 col-md-6">
            <%= image_tag 'landing/encrypt-email.png', class: 'feature__illustration' %>
        </div>
        <div class="col-xs-12 col-md-6">
            <a href="/features/use-other-popular-tools-with-fluidkeys" class="feature__card">
                <h3 class="feature__title">Use git-crypt, pass and other tools</h3>
                <p class="feature__description">
                Store team passwords and manage shared secrets using existing tools.
                </p>

                <p class="feature__description">
                    Fluidkeys works with anything that uses GnuPG.
                    <span class="feature__fake-link">Find about more about third party tools
                    for teams</span>.
                </p>
            </a>
        </div>
    </div>
</section>

<section class="section section--plugs">
    <div class="container--max-width-break-3">
        <div class="section__intro">
            <h2 class="section__title">Works with other popular tools</h2>
            <p class="section__description">
                Fluidkeys can provision popular tools, synchronising keys and configuration for the team.
                Any tool built to work with GnuPG is even simpler with Fluidkeys.
            </p>
            <p>
                <a href="/features/use-other-popular-tools-with-fluidkeys" class="button">Learn about integrations</a>
            </p>
        </div>
        <div class="row">
            <div class="pgp-app col-xs-6 col-sm-4 col-md-3">
                <h3 class="pgp-app__title">Mailvelope</h3>
                <p class="pgp-app__description">
                    Send and receive encrypted email in your browser.<br />Works with Gmail,
                    Yahoo, Outlook.com and more.
                </p>
            </div>
            <div class="pgp-app col-xs-6 col-sm-4 col-md-3">
                <h3 class="pgp-app__title">Pass</h3>
                <p class="pgp-app__description">
                    Store passwords and other secrets with gpg and git. It's the standard UNIX manager
                    for the command line.
                </p>
            </div>
            <div class="pgp-app col-xs-6 col-sm-4 col-md-3">
                <h3 class="pgp-app__title">Enigmail</h3>
                <p class="pgp-app__description">
                    Send and receive encrypted and signed email from Mozilla Thunderbird. Works with
                    macOS, Windows and Linux.
                </p>
            </div>
            <div class="pgp-app col-xs-6 col-sm-4 col-md-3">
                <h3 class="pgp-app__title">git-crypt</h3>
                <p class="pgp-app__description">
                    Encrypt certain files in a git repository. Store secrets in the same repo
                    as code.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section container--max-width-break-3">
    <div class="section__intro row">
        <div class="col-xs-12">
            <h2 class="section__title">Rotate and update keys automatically</h2>

            <p class="section__description">
                It's easy for new people to join the team. Fluidkeys creates a best-practice key and a new encryption subkey every month.
            </p>

            <p class="section__description">
               New keys are delivered to the team securely and automatically.
            </p>
            <p><a href="/features/manage-your-team-pgp-keys" class="button">Learn about automating PGP for your
            team</a></p>
        </div>
    </div>
</section>

<section class="section--call-out">
    <div class="container--max-width-break-3">
        <div class="section__intro row">
            <div class="col-xs-12">
                <h2 class="section__title">
                    Get started for free - strengthen your
                    engineering team's security practices
                </h2>
            </div>
        </div>
        <div class="row middle-lg">
            <div class="col-xs-12 col-lg-6">
                <%= partial "trial_signup_form" %>
            </div>
            <div class="col-xs-12 col-lg-6">
                <ul class="benefits-list">
                    <li class="benefits-list__item">You'll be safeguarding the team's source code</li>
                    <li class="benefits-list__item">You'll be safely sending team secrets</li>
                    <li class="benefits-list__item">You'll get all the power of PGP for your team</li>
                <ul>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
</footer>

<%= partial "track_events" %>

