---
title: Fluidkeys Weeknotes
layout: singlepage
blog: weeknotes
description: Keep up to date with our progress building Fluidkeys, a way to protect your team with strong encryption.
---

<p class="date"><%= blog.articles.first.date.strftime('%d %B %Y') %></p>
<h1 class="blog-title"><%= link_to blog.articles.first.title, blog.articles.first.url %></h1>
<%= blog.articles.first.body %>

---

## <a name="previous"></a> Previous weeknotes:

<ul>
<% blog.articles[1..-1].each do |article| %>
  <li class="blog-index">
    <%= link_to "#{article.title}", article.url %>
    <%= article.date.strftime('%A') %> <%= article.date.day.ordinalize %> <%= article.date.strftime('%b %Y') %>
  </li>
<% end %>
</ul>

---

## Sign up to get emailed them each week:

<%= partial "weeknotes/signup_form"  %>